{% extends "layout.html" %}
{% block content %}
    <div class="auth-form">
        <div>
            <h2>{{ current_user.username }}</h2>
            <p>{{ current_user.email }}</p>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form">
                <Legend>Account Information</Legend>
                    {{ form.gender.label(class="form-label") }}
                    {{ form.gender() }}
                    {{ form.username.label(class="form-label") }}
                    {{ form.username() }}
                    {{ form.email.label(class="form-label") }}
                    {{ form.email() }}
            </fieldset>
            <div>
                {{ form.submit(class="option") }}
            </div>
        </form>
    </div>
{% endblock content %}