{% extends "layout.html" %}
{% block content %}
    <div class="auth-form">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset id="form">
                <Legend >{{ legend }}</Legend>
                    {{ form.title.label(class="form-label") }}
                    {{ form.title() }} 
                    <div class="form-group">
                    {{ form.select_attribute.label(class="form-label") }}
                    {{ form.select_attribute(id='select-attribute') }}
                    <button type="button" id="add-value-btn"> Add value </button>
                    </div>
                    {% if values %}
                        {% for attr in values %}
                            <div class="form-group">
                                <label class="form-label">{{attr}}</label>
                                <input type="number" value="{{values[attr]}}" name="{{attr}}">
                                <p>{{units[attr]}}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
            </fieldset>
            <div>
                {{ form.submit(class="option") }}
            </div>
        </form>
    </div>
    <script>
        window.units = JSON.parse('{{ units | tojson | safe}}');
        window.shown = []
        {% if values %}
            {% for attr in values %}
                window.shown.push('{{attr}}')
            {% endfor %}
        {% endif %}
    </script>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
{% endblock content %}