{% extends "layout.html" %}
{% block content %}
    <div class="auth-form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form">
                <Legend >{{ legend }}</Legend>
                    {{ form.title.label(class="form-label") }}
                    {{ form.title() }}
                    {{ form.hb.label(class="form-label") }}
                    {{ form.hb() }}
                    {{ form.hct.label(class="form-label") }}
                    {{ form.hct() }}
                    {{ form.rbc.label(class="form-label") }}
                    {{ form.rbc() }}
                    {{ form.wbc.label(class="form-label") }}
                    {{ form.wbc() }}
                    {{ form.pc.label(class="form-label") }}
                    {{ form.pc() }}
                    {{ form.mcv.label(class="form-label") }}
                    {{ form.mcv() }}
                    {{ form.mch.label(class="form-label") }}
                    {{ form.mch() }}
                    {{ form.mchc.label(class="form-label") }}
                    {{ form.mchc() }}
            </fieldset>
            <div>
                {{ form.submit(class="option") }}
            </div>
        </form>
    </div>
{% endblock content %}