{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <Legend class="border-bottom mb-4">{{ legend }}</Legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.hb.label(class="form-control-label") }}
                    {{ form.hb(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.hct.label(class="form-control-label") }}
                    {{ form.hct(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.rbc.label(class="form-control-label") }}
                    {{ form.rbc(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.wbc.label(class="form-control-label") }}
                    {{ form.wbc(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.pc.label(class="form-control-label") }}
                    {{ form.pc(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.mcv.label(class="form-control-label") }}
                    {{ form.mcv(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.mch.label(class="form-control-label") }}
                    {{ form.mch(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.mchc.label(class="form-control-label") }}
                    {{ form.mchc(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}