{% extends "layout.html" %}
{% block content %}
    <main class="home">
        <div class="tests">
            {% for test in page_tests.items %}
                <div class="test">
                    <a href="{{ url_for('tests.test', test_id=test.id) }}">{{ test.title }}</a>
                    <p>on {{ test.date_posted.strftime('%Y-%m-%d') }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% for page_num in page_tests.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    <a href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                ...
                {% endif %}
            {% endfor %}
        </div>
        <div class="boxes">
            <label for="HB">HB</label>
            <input type="checkbox" class="styled-checkbox" id="HB" unchecked>

            <label for="HCT">HCT</label>
            <input type="checkbox" class="styled-checkbox" id="HCT" unchecked>

            <label for="RBC">RBC</label>
            <input type="checkbox" class="styled-checkbox" id="RBC" unchecked>

            <label for="MCV">MCV</label>
            <input type="checkbox" class="styled-checkbox" id="MCV" unchecked>

            <label for="MCH">MCH</label>
            <input type="checkbox" class="styled-checkbox" id="MCH" unchecked>

            <label for="MCHC">MCHC</label>
            <input type="checkbox" class="styled-checkbox" id="MCHC" unchecked>

            <label for="WBC">WBC</label>
            <input type="checkbox" class="styled-checkbox" id="WBC" unchecked>

            <label for="PLT">PLT</label>
            <input type="checkbox" class="styled-checkbox" id="PLT" unchecked>
        </div>
        
        <container id="graphContainer"></container>
        
    </main>

    <script>
        window.graphData = {
        labels: [],
        hb: [],
        hct: [],
        rbc: [],
        mcv: [],
        mch: [],
        mchc: [],
        wbc: [],
        plt: []
        }
        
        {% for test in tests %}
            window.graphData.labels.push('{{test.id}}')
            window.graphData.hb.push({{test.hb}})
            window.graphData.hct.push({{test.hct}})
            window.graphData.rbc.push({{test.rbc}})
            window.graphData.mcv.push({{test.mcv}})
            window.graphData.mch.push({{test.mch}})
            window.graphData.mchc.push({{test.mchc}})
            window.graphData.wbc.push({{test.wbc}})
            window.graphData.plt.push({{test.pc}})
        {% endfor %}
    </script>
    <script src="{{ url_for('static', filename='graphs.js') }}"></script>
{% endblock content %}
