{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <Legend>Log In</Legend>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email() }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password() }}
                </div>
                <div class="form-check">
                    {{ form.remember() }}
                    {{ form.remember.label(class="form-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
    <div>
        <small>
            New to Blood Analisys Hub? <a href="{{ url_for('users.register') }}">Sign Up</a>
        </small>
    </div>
{% endblock content %}