{% extends "layout.html" %}
{% block content %}
    <div class="auth-form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form">
                <Legend>Join</Legend>
                    {{ form.username.label(class="form-label") }}
                    {{ form.username() }}
                    {{ form.email.label(class="form-label") }}
                    {{ form.email() }}
                    {{ form.password.label(class="form-label") }}
                    {{ form.password() }}
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password() }}
            </fieldset>
            <div>
                {{ form.submit(class="option") }}
            </div>
            <small>
                Already Have An Account? <a href="{{ url_for('users.login') }}">Sign In</a>
            </small>
        </form>
    </div>
{% endblock content %}