{% extends "layout.html" %}
{% block content %}
    <div class="auth-form test-form">
        <h2 class="article-title">{{ test.title }}</h2>
        <p>{{ test.date_posted.strftime('%Y-%m-%d') }}</p>
        <div>
            <a href="{{ url_for('tests.update_test', test_id=test.id) }}">Update</a>
            <a href="{{ url_for('tests.delete_test', test_id=test.id) }}">Delete</a>
        </div>
            <div class="test-value">
                <p class="attribute"><b>attribute</b></p>
                <p class="value"><b>value</b></p>
                <p class="reference"><b>reference range</b></p>
                <p class="interpretation"><b>interpretation</b></p>
            </div>
            {% for attribute in values %}
                {% if current_user.gender and interpretations[attribute] != 'Within Reference Range' %}
                <div class="test-value  explanation">
                    <p class="attribute">{{attribute}}</p>
                    <p class="value">{{values[attribute][0]}} {{values[attribute][1]}}</p>
                    <p class="reference">{{reference[attribute]['min']}} - {{reference[attribute]['max']}}</p>
                    <p class="interpretation">{{interpretations[attribute]}}</p>
                    <span>{{descriptions[attribute][interpretations[attribute]]}}</span>
                </div>
                {% else %}
                <div class="test-value">
                    <p class="attribute">{{attribute}}</p>
                    <p class="value">{{values[attribute][0]}} {{values[attribute][1]}}</p>
                    <p class="reference">{{reference[attribute]['min']}} - {{reference[attribute]['max']}}</p>
                    {% if current_user.gender %}
                        <p class="interpretation">{{interpretations[attribute]}}</p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock content %}
